@model ProjektCRUD.Models.Book

@* DeletePost z BookController.cs  *@
<form method="post" asp-action="DeletePost">
    <input asp-for="Id" hidden />
    <div class="border p-1">
        <div class="form-group row">
            <h2 class="text-black-70 pl-3">Usuń książkę</h2>
        </div>
        <div class="offset-1 row">
            <div class="col-14">
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="BookName">Nazwa książki</label>
                    </div>
                    <div class="col-3">
                        <label asp-for="Author">Autor</label>
                    </div>
                    <div class="col-4">
                        <label asp-for="BookType">Rodzaj dzieła</label>
                    </div>
                    <div class="col-2">
                        <label asp-for="GetBookDate">Data wypożyczenia</label>
                    </div>
                    <div class="col-2">
                        <label asp-for="GiveBookDate">Termin oddania</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        @* Disabled - by użytkownik widział dane, ale nie mógł ich zmienić *@
                        <input asp-for="BookName" disabled class="form-control" />
                    </div>
                    <div class="col-3">
                        <input asp-for="Author" disabled class="form-control" />
                    </div>
                    <div class="col-4">
                        <input asp-for="BookType" disabled class="form-control" />
                    </div>
                    <div class="col-2">
                        <input asp-for="GetBookDate" disabled class="form-control" />
                    </div>
                    <div class="col-2">
                        <input asp-for="GiveBookDate" disabled class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            <input type="submit" class="btn btn-danger w-75" value="Usuń" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-75">Wróć</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>